#fraganciasHombre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card {
    margin-top: 30px;
    border: 10px solid rgba(250, 247, 247, 0.3);
    box-shadow: -3px 5px 10px rgba(6, 6, 6, 0.1);
    border-radius: 10px;
}


.card-img-top {
    height: 300px;
    object-fit: unset;
}

.card-body {
    height: 150px;
}

body {
    background-color: whitesmoke;
}

.btn-primary {
    background-color: black;
    border-color: black;
}

h1 {
    padding: 40px;
    padding-bottom: 40px;
    margin-top: 75px;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 500;
}

.navbar-toggler-icon {
    color: whitesmoke;
}

.btn.btn-success {
    background-color: whitesmoke;
    color: black;
}

.producto {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    img {
        height: 50px;
        width: 50px;
    }

    #pNombre {
        width: 250px;
    }

    #pPrecio {
        width: 100px;
    }

}

.offcanvas.offcanvas-end.text-bg-dark {
    width: 600px;
}

#carrito-container {
    
    h2 {
        padding: 20px;
        padding-left: 0px;
    }
}

#carrito {
    p {
        padding-left: 0px;
    }
}

.my-confirm-button {
    background-color: black !important; 
    border: 1px solid black !important; 
  }

