#fraganciasHombre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin-top: 30px;
  border: 10px solid rgba(250, 247, 247, 0.3);
  box-shadow: -3px 5px 10px rgba(6, 6, 6, 0.1);
  border-radius: 10px;
}

.card-img-top {
  height: 300px;
  object-fit: unset;
}

.card-body {
  height: 150px;
}

body {
  background-color: whitesmoke;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

h1 {
  padding-bottom: 40px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 500;
}

.navbar-toggler-icon {
  color: whitesmoke;
}

.btn.btn-success {
  background-color: whitesmoke;
  color: black;
}

.producto {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.producto #pPrecio {
  margin-bottom: 0px;
}
.producto #pNombre {
  padding-left: 15px;
  margin-bottom: 0px;
  padding-right: 15px;
}
.producto img {
  margin: 0px;
  height: 50px !important;
  width: 50px !important;
}
.producto #pNombre {
  width: 250px;
}
.producto #pPrecio {
  width: 100px;
}

.offcanvas.offcanvas-end.text-bg-dark {
  width: 600px;
}

#carrito-container h2 {
  padding: 20px;
  padding-left: 0px;
}

#carrito p {
  padding-left: 0px;
}

.my-confirm-button {
  background-color: black !important;
  border: 1px solid black !important;
}

.navPersonalizada img {
  color: whitesmoke;
  height: 40px;
  background-color: #212529;
}
.navPersonalizada img:hover {
  transform: scale(1.2);
}

.navPersonalizadaUser img {
  color: whitesmoke;
  height: 40px;
  background-color: #212529;
}
.navPersonalizadaUser img:hover {
  transform: scale(1.2);
}

.buscar {
  display: flex;
  justify-content: center;
  padding: 35px;
  margin-top: 50px;
}
.buscar img {
  height: 25px;
}
.buscar input {
  border: 1px solid black;
}

.input-group {
  width: 500px;
  height: 40px;
}

.btn-secondary {
  background-color: white;
  border: 1px solid black;
  color: black;
  height: 40px;
}

#sinResultados {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.marca-dropdown .dropdown-menu {
  width: 220px;
}

.marca-dropdown .dropdown-menu .marca-item {
  padding-left: 15px;
}

.presentacion-dropdown .dropdown-menu {
  min-width: 133px !important;
}

.presentacion-dropdown .dropdown-menu .presentacion-item {
  padding-left: 15px;
}

.cantidad-container {
  display: flex;
  width: 150px;
}
.cantidad-container input {
  width: 40px;
  border-radius: 1%;
  margin: 0px;
}

.mascantidad {
  width: 35px;
}

.menosCantidad {
  width: 35px;
}

.toastify {
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.3), 0 10px 36px -4px rgba(0, 0, 0, 0.2);
}

.addCarrito img {
  height: 24px;
  width: 122.916px;
  object-fit: contain;
}

#btn-carrito {
  background-color: #212529;
  border: none;
}

.btn-outline-secondary {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  cursor: default;
}

.btn-outline-secondary:hover {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  cursor: default;
}

.btn-outline-secondary:active {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
}

/*# sourceMappingURL=style.css.map */
